<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href= "{{url_for('static',filename='css/style.css')}}">
    <script src="/static/index.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>


    <title>MT Web Crawler</title>
    <meta charset="UTF-8">
</head>

<body>
    <div id= section1 class="section">
        <div class="background">
        <img src="../static/web.jpg" alt="web">
        </div>
    <div class="content">
        <h2 id="animated-heading">Meal In Budget</h2>
        <h4>A Multi-Threaded Web Crawler application</h4>
        <h4>Operating Systems</h4>
        
        <p id="animated-paragraph">How to use the application? 
            <br>
            <!-- <div id = "inst">
            <!-- Step 1: Enter a zip code. <br><br>
            Step 2: Enter the name of the recipe. <br><br>
            Step 3: The crawler fetches the ingredients for the recipe. Next, it crawls the web to fetch you the best price for the ingredients from stores near you.
        </div></p><br><br> --> -->
        <p>Team members: <br>
            <ul><li>Rijul Mehta</li>
            <li>Sam Kumar</li></ul>
        </p>
    </div>
    </div>
    

    <div id="section2" class="section">
        <input type="text" id="zip" name="zipcode" placeholder="Enter your zip code">
        <br>
        <button type="text" id="zip-submit" onclick="submitZip()">Submit</button>
         <div id="tick2" class="hidden tick">✔</div>
         </div>

    <form action="submit" id="recipe-form" method="post">
    <div id="section3" class="section">
        {% for message in get_flashed_messages() %}
            <p>{{message}}</p>
        {% endfor %}
        
        <br>
        <input type="text" id="recipe" name="dish" placeholder="Enter a recipe">
        <br>
        <input type="submit" id="submit-recipe" value="Start Crawl" onclick="submitRecipe()">
        <div id="tick1" class="hidden tick">✔</div>
    </div>

    </form>
</body>

</html>
